{% if frontoffice.multiple_country_search and advanced_search.size != 0 %}
    {% assign querywidth = 'col-lg-3 col-md-2 col-sm-3' %}
{% elsif advanced_search.size != 0 %}
    {% assign querywidth = 'col-lg-5 col-md-5 col-sm-6' %}
{% elsif frontoffice.multiple_country_search %}
    {% assign querywidth = 'col-lg-5 col-md-4 col-sm-5' %}
{% else frontoffice.multiple_country_search %}
    {% assign querywidth = 'col-lg-7 col-md-7 col-sm-8' %}
{% endif %}

<div class="searchform hidden-print">
    <form action="/search" method="GET" role="form" data-disable="false">
        <div class="row row-no-padding">
            <div class="col-lg-2 col-md-2 col-sm-1 col-xs-10 col-xs-offset-1 col-sm-offset-0 searchform-margin">
                <a href="javascript:void(0);" class="btn btn-primary searchform-geoloc btn-block lf_geoloc">
                    <em class="glyphicon glyphicon-map-marker"></em> <span class="hidden-sm">{{'frontoffice.search.geolocation_search.button' | translate }}</span>
                </a>
            </div>
            <div class="col-sm-1 col-xs-10 col-xs-offset-1 col-sm-offset-0 searchform-margin">
                <div class="searchform-or">
                    {{ 'frontoffice.pos.address_request.labels.or' | translate }}
                </div>
            </div>
            {% if frontoffice.multiple_country_search %}
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-10 col-xs-offset-1 col-sm-offset-0 searchform-margin searchform-padding">
                <label for="country" class="screen-reader-only">{{'frontoffice.search.select_country.first_option' | translate }}</label>
                <select id="country" name="country" class="searchform-country form-control" data-width="100%" title="{{'frontoffice.search.select_country.first_option' | translate }}" required>
                    <option value="" class="hidden">-</option>
                    {% assign sorted_countries = countries|unaccented_sort:'localized_name' %}
                    {% for country in sorted_countries %}
                    <option value="{{ country.code }}">{{ country.localized_name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="{{querywidth}} col-xs-10 col-xs-offset-1 col-sm-offset-0 searchform-margin searchform-padding text-left">
                <div class="form-group">
                    <div class="typeahead-container">
                        <span class="typeahead-query">
                            <label for="query" class="screen-reader-only">{{'frontoffice.search.by_keyword.label' | translate }}</label>                        
                            <input type="text" id="query" name="query" class="form-control searchform-query" placeholder="{{'frontoffice.search.by_keyword.example' | translate }}" value="{{ query }}" required autocomplete="off" data-placement="top" data-content="<small>{{'frontoffice.search.by_keyword.error' | translate}}</small>" />
                        </span>
                    </div>
                </div>
            </div>
            {% if advanced_search.size != 0 %}
                {% for smart_tag in client.smart_tags %}
                    {% if smart_tag.name == advanced_search %}
                    <div class="col-sm-2 col-xs-10 col-xs-offset-1 col-sm-offset-0 searchform-margin searchform-padding">
                        <label for="filter_{{advanced_search}}" class="screen-reader-only">{{ 'frontoffice.search.filters.defaultoption' | translate }}</label> 
                        <select id="filter_{{advanced_search}}" name="st_any[{{advanced_search}}][]" class="searchform-filters form-control" data-width="100%" multiple title="{{ 'frontoffice.search.filters.defaultoption' | translate }}">
                            {% for parameter in smart_tag.smart_tag_parameters %}
                            {% if parameter.name != '.' %}
                            <option value="{{ parameter.name }}">{{ parameter.label | strip_html }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="col-sm-2 col-xs-10 col-xs-offset-1 col-sm-offset-0 searchform-margin">
                <button type="submit" class="btn btn-primary btn-block searchform-submit" title="{{'frontoffice.search.by_keyword.button' | translate }}"><em class="glyphicon glyphicon-search"  aria-hidden="true"></em> <span class="hidden-sm">{{'frontoffice.search.by_keyword.button' | translate }}</span></button>
            </div>
        </div>
    </form>
</div>
