//------------------------------------------------------------------
// NewSearch
//------------------------------------------------------------------

.newsearch {
    display: block;
    margin-bottom: 12px;

    @media (min-width: 768px) {
        display: none;
    }
}
