//------------------------------------------------------------------
// Breadcrumb
//------------------------------------------------------------------

.breadcrumb {
    margin-bottom: 0;
    background: $red-color;
    padding: 2px 0 2px 20px;
    font-size: 96%;

    a {
        color: $white-color;
    }

    .active {
        font-weight: bold;
    }

    >li+li {
        &:before {
            color: $white-color;
            font-family: CustomIcons;
            font-size: 76%;
            content: '\e605';
        }
    }
}
