//------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------

//-----Base-----//
$font-size-base: 14px;
$base-line-height: 1.428571429;
$base-font-color: #333;


//-----Padding-----//
//>>For container, col, row (default 15px)
$container-padding: 15px;


//-----Breacrumb-----//
$breadcrumb-color: #666;
$breadcrumb-color-active: #666;


//-----Link-----//
$link-color: #0277bd;
$link-color-hover: #0277bd;


//-----Error404-----//
$error-color: #b92a2a;


//-----Border Radius-----//
//>>For buttons, form-control, dropdown, modal, well, alert (default 4px)
$border-radius: 0;


//-----Result POS & MAP-----//
$result-height-content: 650px;
$result-color-background-hover: #e0e0e0;



//-----Colors-----//
//>>Text
$black-color: #000;
$white-color: #fff;
$grey-color: #ccc;
$pink-color: #d51a66;
$blue-color: #0277bd;
$black-color: #492a3c;
$green-color: #3c763d;
$red-color: #f00;
$lightgrey-color: #e5e5e5;

$link-color: $red-color;
$brand-primary: $red-color;

//>>Primary
$primary-color-text: #333;
$primary-color-title: #0277bd;
$primary-color-border: #0277bd;

//>>Secondary
$secondary-color-text: #333;
$secondary-color-title: #0277bd;
$secondary-color-border: #0277bd;

//>>Third
$third-color-text: #333;
$third-color-title: #0277bd;
$third-color-border: #0277bd;

//-----Dropdown-----//
$dropdown-color-background-active: #0277bd;
$dropdown-color-background-focus: #f5f5f5;
$dropdown-color-text-hover: #fff;

//-----Button-----//
$btn-default-color: $black-color;
$btn-default-bg: $grey-color;
$btn-default-border: $grey-color;

$btn-primary-color: $white-color;
$btn-primary-bg: $red-color;
$btn-primary-border: $red-color;

$btn-info-color: $white-color;
$btn-info-bg: $red-color;
$btn-info-border: $red-color;


//-----Pagination-----//
//>>Default
$pagination-color-border: $grey-color;
$pagination-color-background: $grey-color;
$pagination-color-text: $black-color;

//>>Hover
$pagination-color-border-hover: $red-color;
$pagination-color-background-hover: $red-color;
$pagination-color-text-hover: $white-color;


